/*

  WordPres default, this is can be overriden, just think of these as a reset file
  +

*/
/*-----------------------------------------------------------------------------------*/
/*	0.	Reset
/*-----------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */

  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */

  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */

  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */

  box-sizing: border-box;
  /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

}
*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

  box-sizing: inherit;
}
body {
  background: #f5f5f5;
  /* Fallback for when there is no custom background color defined. */
  text-rendering: optimizeSpeed;

}
article, aside, details, figcaption, figure, footer, header, main, nav, section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */

  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
a img {
  border: 0;
  vertical-align: middle;
}


  /*-----------------------------------------------------------------------------------*/
  /*	1.	Document Setup
  /*-----------------------------------------------------------------------------------*/
  body,
  button,
  input,
  select,
  textarea {
    font-size: 16px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.625em;
    color: #484848;
  }
  ::selection{
    background: #444;
    color: #f2f2f2;
  }
  /* Links
  ----------------------------------------------- */
  a {
    color: #fd6763;
    text-decoration: none;
    outline: 0;
  }
  a,
  a:visited,
  a:hover,
  a:focus,
  a:active {
    outline: 0;
  }
  /* Headings
  ----------------------------------------------- */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #292929;
    clear: both;
  }
  h1,
  .h1 {
    font-size: 2.25em;
    line-height: 1.1944444444444444em;
    margin-bottom: 0.7222222222222222em;
  }
  h2,
  .h2 {
    font-size: 1.875em;
    line-height: 1.3333333333333333em;
    margin-bottom: 0.8666666666666667em;
  }
  h3,
  .h3 {
    font-size: 1.5em;
    line-height: 1.5416666666666667em;
    margin-bottom: 1.0833333333333333em;
  }
  h4,
  .h4 {
    font-size: 1.125em;
    line-height: 1.7222222222222223em;
    margin-bottom: 1.4444444444444444em;
  }
  h5,
  .h5 {
    font-size: 0.875em;
    line-height: 2em;
    margin-bottom: 1.8571428571428572em;
  }
  h6,
  .h6 {
    font-size: 0.75em;
    line-height: 2.3333333333333335em;
    margin-bottom: 2.1666666666666665em;
  }
  
  .entry-content{
    h2 a,h3 a,h4 a,h5 a{
      &:hover{
        text-decoration:underline 2px #292929;
      }
      // transition: 2s ease-in;
    }
  }
  .entry-content h4, .entry-content .h4{
    margin-bottom: 0.444em;
  }
  
  .entry-content h5, .entry-content .h5{
    margin-bottom: 0.8571428571428572em;
  }
  
  .entry-content h6, .entry-content .h6{
    margin-bottom: 0.167em;
  }
  
  
  /* Typography
  ----------------------------------------------- */
  p {
    margin-bottom: 1.625em;
    word-break: break-word;
  }
  b,
  strong {
    font-weight: bold;
  }
  dfn,
  cite,
  em,
  i {
    font-style: italic;
  }
  blockquote {
    font-size: 1.375em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #292929;
    line-height: 1.625em;
    padding-left: 2.5%;
    margin-bottom: 1.1818181818181819em;
    border-left-width: 3px;
    border-style: solid;
    border-color: #292929;
  }
  blockquote p {
    margin-bottom: 0;
  }
  blockquote cite {
    font-size: 0.5454545454545454em;
    font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.625em;
    letter-spacing: 0.1em;
    padding-top: 1.625em;
    display: block;
  }
  address {
    opacity: .75;
    margin-bottom: 1.625em;
  }
  pre {
    font-size: 0.9375em;
    font-family: "Courier 10 Pitch", Courier, monospace;
    border-radius: 6px;
    color: #ccc;
    line-height: 1.7333333333333334em;
    padding: 3%;
    margin-bottom: 1.7333333333333334em;
    max-width: 100%;
    background: #2d2d2d;
    border: 20px solid #e3e3e3;
    overflow: auto;
    tab-size: 4;
    transition: ease-in-out 500ms;
    &:hover{
     box-shadow: 5px 6px 0 0px #191919;
    }
  }
  code,
  kbd,
  tt,
  var {
    font-size: 0.9375em;
    font-family: "Courier 10 Pitch", Courier, monospace;
  }
  code {
    color: #fff;
    padding: .260em .25em;
    padding-left: 0;    
    background-color: #2d2d2d;
    border-radius: 3px;
    &::selection{
      // background: none;
    }
  }
  abbr,
  acronym {
    border-bottom-width: 1px;
    border-style: dotted;
    border-color: #484848;
    cursor: help;
  }
  mark,
  ins {
    color: #484848;
    padding: 0.125em 0.250em;
    background: #fff198;
    text-decoration: none;
  }
  sup,
  sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    bottom: 1ex;
  }
  sub {
    top: .5ex;
  }
  small {
    font-size: 75%;
  }
  big {
    font-size: 125%;
  }
  /* Elements
  ----------------------------------------------- */
  hr {
    border: 0;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 1.625em;
    display: block;
    width: 100%;
  }
  /* Media
  ----------------------------------------------- */
  img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
    vertical-align: middle;
  }
  
  figure {
    margin: 0;
  }
  /* Make sure embeds and iframes fit their containers */
  embed,
  iframe,
  object {
    max-width: 100%;
  }
  /* Lists
  ----------------------------------------------- */
  ul,
  ol {
    margin: 0 0 1.625em 1.625em;
  }
  ul {
    list-style: square;
  }
  ol {
    list-style: decimal;
  }
  li > ul,
  li > ol {
    margin-bottom: 0;
    margin-left: 1.625em;
  }
  dt {
    font-weight: bold;
    text-decoration: underline;
  }
  dd {
    margin: 0 0 1.625em;
  }
  /* Tables
  ----------------------------------------------- */
  table {
    margin-bottom: 1.625em;
    width: 100%;
  }
  table thead {
    font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #f2f2f2;
  }
  table thead th {
    font-weight: bold;
  }
  table th,
  table td {
    padding: 0.65em .825em;
  }
  table tr:nth-child(even) {
    background: #f2f2f2;
  }
  /* Forms
  ----------------------------------------------- */
  button,
  input,
  select,
  textarea {
    font-size: 100%;
    /* Corrects font size not being inherited in all browsers */
  
    margin: 0;
    /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  
    vertical-align: baseline;
    /* Improves appearance and consistency in all browsers */
  
    *vertical-align: middle;
    /* Improves appearance and consistency in IE6/IE7 */
    outline: none;
  }
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"],
  .button {
    font-size: 0.875em;
    color: #9a9a9a;
    padding: 0.50em 1em;
    border: none;
    border-radius: 5px;
    background: #e8e8e8;
    display: inline-block;
    -webkit-appearance: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover,
  .button:hover {
    color: #f2f2f2;
    background: #292929;
    cursor: pointer;
  }
  button:focus,
  input[type="button"]:focus,
  input[type="reset"]:focus,
  input[type="submit"]:focus,
  button:active,
  input[type="button"]:active,
  input[type="reset"]:active,
  input[type="submit"]:active,
  .button.active {
    box-shadow: none;
  }
  input[type="checkbox"],
  input[type="radio"] {
    padding: 0;
    /* Addresses excess padding in IE8/9 */
  
  }
  input[type="checkbox"][disabled],
  input[type="checkbox"].disabled,
  fieldset[disabled] input[type="checkbox"],
  input[type="radio"][disabled],
  input[type="radio"].disabled,
  fieldset[disabled] input[type="radio"] {
    cursor: not-allowed;
  }
  input[type="search"] {
    -webkit-appearance: textfield;
    /* Addresses appearance set to searchfield in S5, Chrome */
  
    -webkit-box-sizing: content-box;
    /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  input[type="search"]::-webkit-search-decoration {
    /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  
    -webkit-appearance: none;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  
    border: 0;
    padding: 0;
  }
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  textarea {
    font-size: 1em;
    color: #9a9a9a;
    border: 1px solid #f2f2f2;
    border-radius: 0;
    background: #f2f2f2;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    color: #484848;
    background: #f8f8f8;
  }
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"] {
    padding: 0.55em 0.85em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  select {
    font-size: 100%;
    color: #9a9a9a;
    width: 100%;
    margin: 0;
    height: 2em;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
  }
  select:focus {
    color: #484848;
    border: 1px solid #cccccc;
  }
  select[multiple],
  select[size] {
    height: auto;
  }
  textarea {
    overflow: auto;
    /* Removes default vertical scrollbar in IE6/7/8/9 */
  
    padding: 0.5em 0.85em;
    vertical-align: top;
    /* Improves readability and alignment in all browsers */
  
    width: 100%;
  }
  /*-----------------------------------------------------------------------------------*/
  /*	1.1  Wordpress Standard
  /*-----------------------------------------------------------------------------------*/
  img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }
  /* Alignment
  ----------------------------------------------- */
  .alignleft {
    display: inline;
    float: left;
    margin-right: 1.625em;
  }
  .alignright {
    display: inline;
    float: right;
    margin-left: 1.625em;
  }
  .aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
  }
  /* Captions
  ----------------------------------------------- */
  .wp-caption {
    font-size: 0.875em;
    margin-bottom: 1.625em;
    max-width: 100%;
  }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto;
  }
  .wp-caption-text {
    text-align: center;
    color: #cccccc;
    padding: 0.80em 0 0;
  }
  .attachment .wp-caption-text {
    font-size: 0.9333333333333333em;
    text-align: left;
    padding: 0;
  }
  /* Galleries
  ----------------------------------------------- */
  .gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-bottom: 1.625em;
    width: 100%;
  }
  .entry-content .gallery-item {
    padding: 0 1%;
  }
  .gallery-columns-2 .gallery-item {
    max-width: 50%;
  }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33333333333333%;
  }
  .gallery-columns-4 .gallery-item {
    max-width: 25%;
  }
  .gallery-columns-5 .gallery-item {
    max-width: 20%;
  }
  .gallery-columns-6 .gallery-item {
    max-width: 16.666666666666664%;
  }
  .gallery-columns-7 .gallery-item {
    max-width: 14.285714285714285%;
  }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%;
  }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11111111111111%;
  }
  .gallery-caption {
    font-size: 0.875em;
    line-height: 1.5em;
    max-width: 100%;
    display: block;
  }
  /* Media
  ----------------------------------------------- */
  .wp-audio-shortcode {
    margin: 0 0 1.625em;
  }
  .fullscreen {
    display: none;
  }
  /* Accessibility
  ----------------------------------------------- */
  /* Text meant only for screen readers */
  .screen-reader-text {
    font-size: 0.875em;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  .screen-reader-text:hover,
  .screen-reader-text:active,
  .screen-reader-text:focus {
    background-color: #f2f2f2;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #fd6763;
    display: block;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */
  
  }
  /*-----------------------------------------------------------------------------------*/
  /*	1.2  Theme Standard
  /*-----------------------------------------------------------------------------------*/
  p.alert {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #484848;
    padding: 0.76em 1em;
    border-radius: 5px;
  }
  p.alert.primary {
    color: #fff;
    background-color: #428bca;
  }
  p.alert.success {
    background-color: #dff0d8;
  }
  p.alert.info {
    background-color: #d9edf7;
  }
  p.alert.warning {
    background-color: #fcf8e3;
  }
  p.alert.danger {
    background-color: #f2dede;
  }
  .dropcap {
    font-size: 4.8em;
    color: #292929;
    margin-right: .25em;
    line-height: 1em;
    float: left;
  }
  .pull-right,
  .pull-left {
    font-size: 1.375em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #292929;
    line-height: 1.625em;
    padding-top: 1%;
    margin-bottom: 3%;
    width: 30%;
  }
  .pull-right {
    float: right;
    margin-left: 2.5%;
    text-align: right;
  }
  .pull-left {
    float: left;
    margin-right: 2.5%;
    text-align: left;
  }
  .lead {
    font-size: 1.375em;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.625em;
    color: #292929;
    margin-bottom: 1.2727272727272727em;
  }
  .lead:after {
    content: "";
    height: 3px;
    width: 4em;
    margin-top: 1.1363636363636365em;
    display: block;
    background: #292929;
  }
  /*-----------------------------------------------------------------------------------*/
  /*	1.3  Theme Classes
  /*-----------------------------------------------------------------------------------*/
  /* Alignment
  ----------------------------------------------- */
  .publisher-flush-left {
    text-align: left;
  }
  .publisher-flush-right {
    text-align: right;
  }
  .publisher-flush-center {
    text-align: center;
  }
  .publisher-float-left {
    float: left;
  }
  .publisher-float-right {
    float: right;
  }
  .publisher-float-none {
    float: none;
  }
  .publisher-align-center {
    margin: 0 auto;
  }
  /* Columns
  ----------------------------------------------- */
  .publisher-column-1 {
    width: 100%;
  }
  .publisher-column-2 {
    width: 50%;
  }
  .publisher-column-3 {
    width: 33.33333333333333%;
  }
  .publisher-column-4 {
    width: 25%;
  }
  .publisher-column-5 {
    width: 20%;
  }
  .publisher-column-6 {
    width: 16.666666666666664%;
  }
  .publisher-column-7 {
    width: 14.285714285714285%;
  }
  .publisher-column-8 {
    width: 12.5%;
  }
  .publisher-column-9 {
    width: 11.11111111111111%;
  }
  .publisher-column-10 {
    width: 10%;
  }
  
  /*-----------------------------------------------------------------------------------*/
  /*	2.  Theme Structure
  /*-----------------------------------------------------------------------------------*/
  #page {
    overflow: hidden;
  }
  .container {
    max-width: 1198px;
    margin: 0 auto;
  }
  .header-width-narrow .container,
  .content-width-narrow .container,
  .footer-width-narrow .container {
    max-width: 960px;
  }
  .header-width-wide .container,
  .content-width-wide .container,
  .footer-width-wide .container {
    max-width: 2000px;
  }
  /* Clearfix
  ----------------------------------------------- */
  .clearfix:before,
  .clearfix:after,
  .entry-content:before,
  .entry-content:after,
  .site-main:before,
  .site-main:after,
  .site-header:before,
  .site-header:after,
  .site-content:before,
  .site-content:after,
  .site-footer:before,
  .site-footer:after,
  .container:before,
  .container:after,
  .hentry:before,
  .hentry:after,
  .comments-area:before,
  .comments-area:after,
  .comment-content:before,
  .comment-content:after,
  .widget-area:before,
  .widget-area:after,
  .woocommerce .products:before,
  .woocommerce .products:after,
  .posts-navigation:before,
  .posts-navigation:after,
  .post-navigation:before,
  .post-navigation:after,
  .pagination:before,
  .pagination:after,
  .nav-links:before,
  .nav-links:after,
  .comment-respond:before,
  .comment-respond:after {
    content: "";
    display: table;
  }
  .clearfix:after,
  .entry-content:after,
  .site-main:after,
  .site-header:after,
  .site-content:after,
  .site-footer:after,
  .container:after,
  .hentry:after,
  .comments-area:after,
  .comment-content:after,
  .widget-area:after,
  .woocommerce .products:after,
  .posts-navigation:after,
  .post-navigation:after,
  .pagination:after,
  .nav-links:after,
  .comment-respond:after {
    clear: both;
  }
  .clearfix {
    zoom: 1;
  }
  .clear {
    clear: both;
  }